[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-docstrings = "*"
jupyter = "*"
pep8-naming = "*"
pytest = "*"
requests = "*"

[packages]
fastapi = "*"
pandas = "*"
uvicorn = "*"
plotly = "*"
scikit-learn = {version = "0.22.2.post1"}
nltk = "*"
bs4 = "*"
matplotlib = "*"
pydantic = "*"
joblib = {version = "0.16.0"}
stylecloud = "*"

[requires]
python_version = "3.7"
